.main-container {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-container {
  width: 300px;
  height: 100%;
  padding: 15px;
  background-color: #dee0e3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
}

.comment-image {
  width: 90%;
  height: 200px;
  background-size: cover;
}

.text-tag {
  font-size: 12px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #475569;
}

.input-name {
  padding: 5px;
  border: 1px solid #1e293b;
  border-radius: 5px;
  width: 90%;
  font-size: 15px;
  font-family: 'Roboto';
  margin-bottom: 10px;
}

.text-area {
  padding: 5px;
  border: 1px solid #1e293b;
  border-radius: 5px;
  width: 100%;
  font-size: 15px;
  font-family: 'Roboto';
}

.button {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #ffffff;
  background-color: #0284c7;
  width: 120px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.no-of-comments-container {
  background-color: #0284c7;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-of-comments {
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #ffffff;
}

.comment-text {
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #475569;
  margin-left: 10px;
}
.comment-list-container {
  margin-left: -40px;
}
